/* layout.module.css */
.footerLayout {
    display: flex !important;
    justify-content: flex-start !important;  /* 'start'를 'flex-start'로 수정 */
    align-items: stretch !important;
    flex-direction: column !important;
    width: 100vw !important;
    height: 100% !important;
    max-width: 512px !important;
    min-height: 100vh !important;
    padding: 0 !important;
    overflow-y: auto !important;
    overflow-x: auto !important;
    box-sizing: border-box !important;
    position: relative !important;
}
.footerLayout::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 엣지 */
}
.authMainLayout {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
    height: auto !important;
    max-width: 768px !important;
    min-height: 100vh !important;
    margin: 0 auto !important; /* 중앙 정렬을 위해 좌우 마진을 자동으로 설정 */
    padding: 0 20px !important; /* 내부 패딩 설정 */
}