.container {
    position: relative; /* Footer를 컨테이너 하단에 고정하기 위한 상대 위치 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto; /* 중앙 정렬을 위해 좌우 마진을 자동으로 설정 */
    padding: 0 20px; /* 내부 패딩 설정 */
}