.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.commentInput {
    width: 100%;
}

.commentInput>* {
    width: 100%;
    resize: none;
    font-size: small;
}

.submitBtn {
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
}