:global(body) {
    padding: 0 !important;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    border: solid 1px;
    border-color: rgb(227, 168, 168);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col {
    width: 100%;
}

.textArea {
    flex: 1;
}

.textArea>* {
    height: 100%;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
}

.searchPlaceContainer {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 100;
}