.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.profile {
    display: flex;
    align-items: center;
}

.profileImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.author {
    font-weight: bold;
    font-size: small;
}

.action {
    display: flex;
    align-items: self-end;
    margin: 0 10px;
}

.contentsWrapper {
    padding: 10px;
    font-size: small;
    width: 100%;
    /* background-color: chartreuse; */
}

.contentsWrapper>* {
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.footer>.regDate {
    padding: 0 10px 0 0;
    color: gray;
    font-size: small;
}

.footer>.menu {
    cursor: pointer;
}

.commentMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentMenu>ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: small;
}

.commentMenu>ul>* {
    height: fit-content;
}