.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.feedRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.feedRow>* {
    width: 100%;
}