.imageUploader {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    background-color: brown;
}

.imageUploader>input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}