.textInput {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.textInput>textarea {
    padding: 5px;
    width: 100%;
    height: 100%;
    border: none;
    border-color: lightgray;
    resize: none; /* 크기 조절 방지 */
}

.textInput textarea:focus {
    outline: none;
}