
#root,body::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 엣지 */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    padding-top: 12vh;
}

.container>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headerRow {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    flex-shrink: 0;
    top: 0;
    left: 0;
    right: 0;
}
