/* 기본 스타일 - 데스크톱 (노트북) 환경

min-weight, height때문에 줄였을 때 문제 생기는 거 같음.
*/
html {
  overflow: auto;
}
#root, body {
  display: flex !important;
  justify-content: center !important; /* 가로 방향 중앙 정렬 */
  align-items: center !important; /* 세로 방향 중앙 정렬 */

  max-width: 512px !important; /* 1024px이상이면...노트북에서 최대 너비 512px */
  width: 100% !important;
  height: auto !important;
  margin: 0 auto !important; /* 수평 중앙 정렬 */
  box-sizing: border-box !important;
}

@font-face {
  font-family: 'Money';
  src: url('/public/fonts/Moneygraphy-Pixel.woff2') format('woff2'); /* 폰트 파일 경로 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Money2';
  src: url('/public/fonts/Moneygraphy-Rounded.woff2') format('woff2'); /* 폰트 파일 경로 */
  font-weight: normal;
  font-style: normal;
}