#root {
  display: flex !important;
  justify-content: center !important; /* 가로 방향 중앙 정렬 */
  align-items: center !important; /* 세로 방향 중앙 정렬 */
  min-width: 300px !important;
  min-height: 100vh !important;
  width:100% !important;
  height: auto !important;
  max-width: 768px !important;
}

html, body {
  min-width: 300px !important;
  min-height: 100vh !important;
  max-width: 768px !important;
  width: 100vw !important;
  height: auto !important;
  margin: 0 auto !important; /* 수평 중앙 정렬 */
  box-sizing: border-box !important;
  display: flex !important;
  justify-content: center !important; /* 가로 방향 중앙 정렬 */
  align-items: center !important; /* 세로 방향 중앙 정렬 */
}
